@font-face {
	font-family: "tamaDigital";
	src: url('../tama-fonts/tamagotchi.ttf') format('truetype');
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

input {
	/*margin-bottom: 10vh;*/
	height: 5vh;
	text-align: center;
}



#tamaBody {
	height: 60vh;
	width: 50vh;
	border-radius: 35%;
	background-color: purple;
	background-image: url("../tama-sprites/galaxy.jpg");
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 3px solid purple;
}

#screen {
	height: 30vh;
	width: 30vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	border: 5px solid purple;
}

#display {
	height: 25vh;
	width: 30vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#uiRow {
	height: 5vh;
	width: 30vh;
	background-color: gray;
	opacity: 25%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#buttonRow {
	height: 5vh;
	width: 25vh;
	/*background-color: green;*/
	margin-top: 3vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	height: 5vh;
	width: 5vh;
	background-color: yellow;
	border-radius: 40%;
	border: 2px solid purple;
}

h1 {
	font-size: 25px;
}

h2 {
	margin-bottom: 10vh;
}

h3 {
	font-size: 12px;
	text-align: center;
	margin: 2px;
	font-family: "Helvetica", sans-serif;
}

#sprite {
	width: 30vh ;
	/*margin-bottom: 5vh;*/
}

#logo {
	width: 30vh;
	margin-top: 5vh;
	margin-bottom: 3vh;

	/*border: 2px solid yellow;*/
}

#submit-btn {
	width: 15vh;
	margin-bottom: 8vh;
	font-weight: bold;
	background-color: purple;
	color: black;
	border-color: gray;
	font-size: 15px;
}

#submit {
	width: 25vh;
	margin-bottom: 1vh;
	background-color: lightgray;
	border-color: gray;
	font-size: 20px;
}


#deathText {
	text-align: center;
	font-family: "tamaDigital", truetype ;
	font-size: 15px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}















